fastapi
uvicorn[standard]
pydantic
pydantic-settings
python-dotenv
sqlalchemy
alembic
psycopg2-binary
passlib[bcrypt]
python-jose[cryptography]
python-multipart
email-validator
pandas
openpyxl
scikit-learn
xgboost
prophet
langchain-google-genai
langchain-community
langchain
langchain-core
faiss-cpu
google-generativeai
reportlab

